<p>
  List of pets

</p>
<div>
  <button ng-click="order('name')">Name</button>
  <button ng-click="order('age')">Age</button>
  <button ng-click="order('type')">Type</button
</div>
<div ng-repeat="pet in data.results |  orderBy:predicate:reverse ">
  <p>{{$index+1 +". " + "Name: " + pet.name + ", Type: " + pet.type + ", Age: "+pet.age+" "+pet.urlimg}}</p>
  <!-- <button data-id="{{pet._id}}" ng-click="doStuff($event)">Delete</button> -->
  <button ng-click="deletePet(pet._id)">Delete</button>
</div>
